<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>    
    <!--
        HEADER HERE
    -->
    {% include header.html %}

    <main>
        <!--
            CONTENT HERE
        -->
        {{ content }}

    </main>

    {% include footer.html %}
    
    {% if site.local %}
    <script type="text/javascript" src={{ "/assets/local/jquery-3.2.1.js" | relative_url }}></script>
    <script type="text/javascript" src={{ "/assets/local/jquery.lazy.js" | relative_url }}></script>
    <script type="text/javascript" src={{ "/assets/local/jquery.lazy.plugins.js" | relative_url }}></script>
    {% else %}
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery.lazy/1.7.6/jquery.lazy.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery.lazy/1.7.6/jquery.lazy.plugins.min.js"></script>
    {% endif %}
    <script type="text/javascript" src={{ "/assets/js/jquery.matchHeight.js" | relative_url }}></script>
    <script type="text/javascript" src={{ "/assets/js/materialize.js" | relative_url }}></script>
    <script type="text/javascript" src={{ "/assets/js/scribae-deploy.js" | relative_url }}></script>
    <!--script type="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script-->

    {% if page.md-asset %}
        {% assign url = page.url | remove: "/index.html" | remove_first: "/" | split: '/' %}
        {% if url.last == page.layout %}
            {% assign link = "/assets/img/" | append: page.layout | relative_url %}
        {% else %}
            {% assign link = "/assets/img/" | append: page.layout | append: "/" | append: url.last | relative_url %}
        {% endif %}
    <script> 
        Document.MD_DOC = true; 
        Document.MD_ASSET = '{{ link }}'; 
    </script>
    {% else %}
    <script> Document.MD_DOC = false; </script>
    {% endif %}   
    <script> Document.PARALLAX_FACTOR = 1; console.log('Document.PARALLAX_FACTOR '+ Document.PARALLAX_FACTOR)</script> 
    <script>


    </script>
  </body>

</html>
