--- 
layout: default 
--- 
{% assign no_pagin_pages =  site.pages 
  | where: "show", "true" 
  | where_exp: "item", "item.layout != 'home'"
  | where_exp: "item", "item.layout != 'articles'" %}
{% assign post_pages = site.pages 
  | where: "show", "true" 
  | where_exp: "item", "item.layout == 'articles'" 
  | where_exp: "item", "item.url == '/posts/'" 
%} 
{% assign items = no_pagin_pages 
  | concat: post_pages
  | sort: "index" %} 
{% assign items_size = items | size %} 
{% if items_size > 5 %}
  {% assign item_col = "col s12 m6 offset-m0 l2 offset-l0" %} 
{% elsif items_size > 4 %} 
  {% assign item_col = "col s12 m6 offset-m0 l3 offset-l0" %} 
{% elsif items_size > 3 %}
  {% assign item_col = "col s12 m6 offset-m0 l3 offset-l0" %} 
{% elsif items_size > 2 %}
  {% assign item_col = "col s12 m6 offset-m0 l4 offset-l0" %} 
{% else %}
  {% assign item_col = "col s12" %} 
{% endif %}

<!-- First parallax zone -->
<div class="parallax-container">
    <!-- Banner -->
    <div class="section no-pad-bot">
        <div class="home-banner row">
            <div class="col s12 center home-title">
                <span>
                    {{ page.top-title }}
                </span>    
            </div>
            <div class="col s12 center home-intro">
              <span>
                  {{ page.top-intro }}
              </span>    
            </div>  
        </div>
    </div>
    <!-- First parallax image -->
    
    <div class="parallax">
        <picture>
            <source srcset={{ page.top-image | append: '/xl_img.jpg' | relative_url }} media="(min-width: 1600px)" />
            <source srcset={{ page.top-image | append: '/l_img.jpg'  | relative_url }} media="(min-width: 1200px)" />
            <source srcset={{ page.top-image | append: '/m_img.jpg'  | relative_url }} media="(min-width: 900px)" />
            <source srcset={{ page.top-image | append: '/s_img.jpg'  | relative_url }} media="(min-width: 600px)" />
            <source srcset={{ page.top-image | append: '/xs_img.jpg' | relative_url }} media="(min-width: 200px)" />
            <img src="" />
        </picture>
    </div>
</div>

<!-- Menu item zone -->
<div class="home-items-container">
    <div class="">
        <!-- Items zone -->
        <div class="section">
            <div class="row">
                <div class=""></div>
                {% for item in items %}
                {% assign icon_theme = "menu-icon-" | append: item.theme %}
                <div class="{{ item_col }} hoverable fixed-height">
                    <div class="home-item">
                        <div class="">
                            <a class="" href={{ item.url | relative_url }}>
                                {% assign icon_color = '#' | append: item.icon_color | append: ';'  %}
                                <i style="color: {{icon_color}}"  class="material-icons icon large" >{{ item.icon }}</i>
                            </a>
                            <p class="home-item-title">{{ item.title }}</p>
                            <p class="home-item-desc">
                                {{ item.intro }}
                            </p>
                        </div>
                    </div>
                </div>
                {% assign idx = idx| plus: 1 %}
                {% endfor %}
            </div>
        </div>
        <!-- Feature posts zone  -->
        {% assign featured_posts = site.posts
            | where_exp: "post", "post.featured"  %}
        {% assign featured_size = featured_posts | size %}
        {% if featured_size > 0 %}
        <div class="divider"></div>
        <div class="section">
            <div class="row">
                <div class="col s12">
                    <h2 class="center home-post-title">
                        {{page.publication-title}}
                    </h2>
                </div>
                {% for post in featured_posts limit:2 %}
                <div class="col s12">
                    <div class="card hoverable featured-post">
                        <div class="card-content">
                            <div class="row">
                                <a href={{ post.url | relative_url }}>
                                    <span class="col s12 m10 left-align featured-post-title">
                                        {{ post.intro }}
                                    </span>
                                </a>
                                {% assign date_format = "%b %-d, %Y" %}
                                <div class="col s12 m2 right-align featured-post-date">
                                    {{ post.date | date: "%d/%m/%Y" }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endif %}
    </div>
</div>



<!-- Second parallax zone -->
<div class="parallax-container">
    <!-- Banner -->
    <div class="section no-pad-bot">

        <div class="row home-banner">
            <div class="col s12 center home-title">
                <span>
                    {{ page.bottom-title }}
                </span>    
            </div>
            <div class="col s12 center home-intro">
                <span>
                    {{ page.bottom-intro }}
                </span>    
            </div> 
        </div>
    </div>
    <!-- Second parallax image -->
    <div class="parallax">
        <picture>
            <source srcset={{ page.bottom-image | append: '/xl_img.jpg' | relative_url }} media="(min-width: 1600px)" />
            <source srcset={{ page.bottom-image | append: '/l_img.jpg' | relative_url }} media="(min-width: 1200px)" />
            <source srcset={{ page.bottom-image | append: '/m_img.jpg' | relative_url }} media="(min-width: 900px)" />
            <source srcset={{ page.bottom-image | append: '/s_img.jpg' | relative_url }} media="(min-width: 600px)" />
            <source srcset={{ page.bottom-image | append: '/xs_img.jpg' | relative_url }} media="(min-width: 200px)" />
            <img src="" />
        </picture>
    </div>

</div>
<!-- Footer content zone -->
<div class="home-container">
    <div class="container">
        <!-- Article zone -->
        {% if page.show-content %}
        <div class="section">
            <div class="row">
                <div class="col s12">
                    <div class="card home-card hoverable">
                        <div class="card-stacked">
                            <div class="card-content md-content">
                                {{ content }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>


