--- 
layout: default 
---
<div class="container">
    <div class="row">
        <div class="col s12 m9 l10">
            <div id="md-history">
                {% for section in site.info %} {% assign name = section.relative_path | split: "/" | last %} {% assign name = name | split:
                "." | first %}
                <div id={{ name }} class="section scrollspy history-section">
                    <div class="md-content">
                        {{ section.content }}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="col hide-on-small-only m3 l2 fixed">
            <div class="fixed-pos pin-top">
                <ul class="section table-of-contents">
                    {% for section in site.info %} {% assign name = section.relative_path | split: "/" | last %} {% assign name = name | split:
                    "." | first %}
                    <li "history-menu">
                        <a href={{ "#" | append: name }}>
                            {{ section.title }}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>