--- 
layout: default
permalink: /themes/
---

<div class="container">
    <div class="row">
        {% for theme in site.themes %}
        {% assign paths = theme.url | split: "/" %}
        {% assign image_path = "../assets/img/theme/" | append: paths.last | append: "/thumb.jpg" %}
        <div class="col s12 m6 l4 xl3 fixed-height">
            <div class="card hoverable">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src={{ image_path }}>
                    <!--img class="activator" src={{ image_path | absolute_url }}-->
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">
                        {{ theme.title }}
                        <i class="material-icons right">
                            more_vert
                        </i>
                    </span>
                    <p>
                        <a href={{ theme.url | relavite_url }}>
                            Voir
                        </a>
                    </p>    
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">
                        {{ theme.title }}
                        <i class="material-icons right">close
                        </i>
                    </span>
                    <p>{{ theme.intro | newline_to_br  }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>