$post_padding: 1.5rem;

.post-title {
  margin: 0rem;
  padding: $post_padding;
  font-size: 1.5rem ;
  font-weight: 400;
  color: $scribae-style-text;
}

.flow-text {
  font-size: 1.45rem;
}

.post-card {
  padding-top: $post_padding;  
}

.post-date {
  margin: 0rem;
  padding: $post_padding;
  font-size: 1.3rem !important;
  @extend .grey-text;  
}

.post-intro {
  @extend .flow-text;
  padding-bottom: 1rem;
  padding-left: 2rem;
}

.post-link {
  padding-bottom: 0rem !important;
}

.paginator-fixed {
  z-index: 99 !important;
}
.paginator-mask {
  min-height: 6rem !important;
  height: 6rem !important;
}
.paginator-card {
  width: 90%;
  margin-left: 0.5rem;

}
.paginator-card-content {
  padding: 0.5rem !important;
}


@media #{$medium-and-up} {
  .paginator-card {
    width: 85%;
  }
}
@media #{$large-and-up} {
  .paginator-card {
    width: 70%;
  }
}