@charset "UTF-8";


$theme_0_p: #f36451;
$theme_1_p: #c441c4;
$theme_2_p: #6268c0;
$theme_3_p: #f51818;
$theme_4_p: #aa5cb1;
$theme_5_p: #b33939;
$theme_6_p: #b33939;
$theme_7_p: #b33939;

$theme_0_s: #ffffff;
$theme_1_s: #ffffff;
$theme_2_s: #ffffff;
$theme_3_s: #ffffff;
$theme_4_s: #ffffff;
$theme_5_s: #ffffff;
$theme_6_s: #ffffff;
$theme_7_s: #ffffff;

$theme_0_b: #ffffff;
$theme_1_b: #ffffff;
$theme_2_b: #ffffff;
$theme_3_b: #ffffff;
$theme_4_b: #ffffff;
$theme_5_b: #ffffff;
$theme_6_b: #ffffff;
$theme_7_b: #ffffff;

$theme_0_md: #000000;
$theme_1_md: #000000;
$theme_2_md: #000000;
$theme_3_md: #000000;
$theme_4_md: #000000;
$theme_5_md: #000000;
$theme_6_md: #000000;
$theme_7_md: #000000;

$theme_img_txt: white;






