

.debug {
  display: none
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}
//MENU




.navigation {
  //@extend .blue-grey, .darken-3;  
}
.page-footer {
  //@extend .blue-grey, .darken-3;  
}
//Media gallery
.media-card-title {
  //@extend .blue-grey, .darken-3, .white-text; 
}
.main-menu {
  padding: 0 2rem 0 2rem
}
.media-nav {
  //@extend .blue-grey, .darken-3, .white-text; 
  padding-left: 2rem
}
.media-header {
  //@extend .blue-grey, .darken-3, .white-text; 
}
.media-title {
  margin: .82rem 0 .656rem 0
}

.video-card-image {
  @media #{$medium-and-down} {
    display: none
  }
}
.video-gallery-thumb{
  width: 11rem;
}
.image-galery.thumb {
  width: 11rem;
}
.card-footer {
  height: 4rem;
  max-height: 4rem;
}

.table-of-contents a.active {
  border-left-width: 5px;
}
.table-of-contents a {
  font-size: 1.3rem;
}



