/*
Home page
*/

$home-background: $scribae-style-background;

.home-items-container {
    background: $home-background;
    padding: 3rem 1rem 2rem 3rem;
}

.home-container .container {
    width: 90%;
}

.home-title {

    color: white !important;
    //font-family: 'Lora', serif;
    font-weight: 500 !important;
    font-size: 8rem !important;
    text-shadow: 2px 2px 8px #000000;
    @media all and (max-width: 600px) {
        font-size: 4rem !important;
    }
    @media all and (max-width: 400px) {
        font-size: 3rem !important;
    }

}

.home-subtitle {
    @extend .home-title;
}

.home-intro {
  margin: 2rem;
  color: white !important;
  //background-color:#ffffff50;
  text-shadow: 1px 1px 3px #000000;
  font-size: 4rem;
  font-weight: 400 !important;
  @media all and (max-width: 600px) {
    font-size: 2rem !important;
  }

}

.home-post-title {
    color: $scribae-style-primary !important;
    font-size: 2rem;
}

.featured-post {

}

.featured-post-title {
    color: black;
    font-size: 1.5rem;
}
.featured-post-date {
  color: gray;
  font-size: 1.3rem;
}

.home-card {
    //background-color: $home-background;
    @media #{$medium-and-up} {
      // styles for medium screens and larger
      text-align: center;
    }
    margin-top: 20px;
}

.home-card-title {
  font-size: 1.7rem;
  font-weight: 500;
  margin-top: 5px;
  margin-bottom: 0
}

.home-card-image {
  @media #{$medium-and-down} {
    display: none
  }
}

.home-item {
  margin: 1rem;
  @extend .center;
  //background-color: $home-background;
}
.home-item-small > * {
  vertical-align: middle;
}

.home-item-desc {
  margin: 0rem;
  font-size: 1.3rem !important;
  font-weight: 400 !important;
}
.home-item-title {
  @extend .center;
  margin: 0.5rem;
  font-size: 2.0rem !important;
  font-weight: 500 !important;
  color: $scribae-style-text !important;
}

.parallax-container {
  @media #{$small-and-down} {
    height: 100vh;
  }
  @media #{$medium-and-up} {
    // styles for medium screens and larger
     height: 50vh;
  }
  @media #{$large-and-up} {
    // styles for large screens and up
    height: 70vh;
  }
  @media #{$extra-large-and-up} {
    // styles for extra large screens and up
    height: 70vh;
  }
}



