@charset "UTF-8";

/*
For nav
*/

/*
For home
*/
$home-banner1-title: $theme_img_txt;
$home-banner1-intro: $theme_img_txt;
$home-banner2-title: $theme_img_txt;

/*
For md content
*/
$md-header: $theme_primary;
$md-primary: $theme_primary;
$md-texte: $theme_md;