---
# Only the main Sass file needs front matter
---


$scribae-style-navbar: #ffffff;

$scribae-style-primary: #ffffff;

$scribae-style-secondary: #000000;

$scribae-style-background: #ffffff;

$scribae-style-icon: #21a8af;

$scribae-style-text: #000000;

$scribae-style-decoration: #000000;




@import 'materialize';
@import 'general';
@import 'menu';
@import 'home';
//@import 'articles';
//@import 'themes';
//@import 'infos';
//@import 'albums';
//@import 'maps';
