<!-- Dropdown Structure -->
{% assign no_pagin_pages =  site.pages 
    | where: "show", "true" 
    | where_exp: "item", "item.layout != 'articles'" %}
{% assign post_pages = site.pages 
    | where: "show", "true" 
    | where_exp: "item", "item.layout == 'articles'" 
    | where_exp: "item", "item.url == '/posts/'" 
%} 
{% assign pages = no_pagin_pages 
    | concat: post_pages
    | sort: "pos" %} 
{% assign url = page.url | remove: "/index.html" | remove_first: "/" | split: '/' %}
{% assign link = "/" | append: url.first | append: "/" %}

{% assign parents = site.pages 
    | where: "url", link 
%}
{% assign parent = parents.first %}
{% if parent %}
    {% assign icon = parent.icon %}
{% else %}
    {% assign icon = page.icon %}
{% endif %}
{% assign links = pages | where: "show", "true" %}
<header>
  <!--navbar-->
  <div class="navbar-fixed scrollspy">
    <nav class="navigation">
      <!-- Menu for large -->
      <div class="nav-wrapper main-menu hide-on-med-and-up">
        <a href="#" data-activates="side-nav-menu" class="button-collapse">
          <i class="material-icons menu-main-icon ">
            menu
          </i>
        </a>
        <a class="brand-logo" href={{ pages[0].url | relative_url }}>
          <i class="material-icons menu-icon medium left">
            {{ icon }}
          </i>
        </a>

      </div>
      <!-- Breadcumb hide on small -->
      <div class="nav-wrapper main-menu hide-on-small-only">
        {% for part in url %} {% if url.size > 1 and part == url.last %}
        <a class="breadcrumb nav-path">
          {% assign len = part | size %} {% if page.layout == 'article' %} {% assign break = 11 %} {% elsif page.layout == 'themes'
          %} {% assign break = 4 %} {% else %} {% assign break = 0 %} {% endif %} {% assign str = part | slice: break, len
          %} {{ str | truncate: 22, '...' }}
        </a>
        {% else %}
        <a class="breadcrumb nav-path" href={{ "/" | append: part | relative_url}}>
          {{ parent.title }}
        </a>
        {% endif %} {% endfor %}
        <ul class="right hide-on-med-and-down">
          {% for link in links %}
          <li>
            <a class="nav-link" href={{ link.url | relative_url }}>{{ link.title }}</a>
          </li>
          {% endfor %}
        </ul>
        <ul class="right show-on-medium hide-on-large-only">
          <li>
            <a class="dropdown-button" href="#!" data-target="nav-dropdown">
              <i class="material-icons menu-icon right">
                more_vert
              </i>
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
  <!--side nav-->
  <!--ul class="sidenav" id="side-nav-menu">
    {% for link in links %} {% assign icon_color = '#' | append: link.icon_color | append: ';' %}
    <li>
      <a class="nav-dropdown-item " href={{ link.url | relative_url }}>
        <i class="material-icons small" style="color: {{icon_color}}">
          {{ link.icon }}
        </i>
        <span>
          {{ link.title }}
        </span>
      </a>
    </li>
    {% endfor %}
  </ul>
  <a href="#" data-target="side-nav-menu" class="sidenav-trigger">
    <i class="material-icons">menu</i>
  </a-->
  <ul class="nav-dropdown-content" id="nav-dropdown">
    {% for link in links %} {% assign idx = forloop.index0 | plus: 1 %}
    <li>
      <a class="nav-dropdown-item" href={{ link.url | relative_url }}>
        <i class="material-icons small {{ " menu-icon- " | append: idx }}">{{ link.icon }}</i>
        <span>
          {{ link.title }}
        </span>
      </a>
    </li>
    {% endfor %}
  </ul>
</header>

<div class="debug">
  <div style="display: block">
    {% assign all_pages = site.pages | map: "url" %} all_pages = {{ all_pages | join: "
    <br/>" }}
  </div>
  <div style="display: none">
    {% assign post_pages = site.pages | where: "nav-link", "true" | where_exp: "item", "item.layout == 'posts'" | where_exp:
    "item", "item.url == '/posts/'" %} post_pages = {{ post_pages | join: "
    <br/>" }}
  </div>
</div>