/*
Markdown content
*/

$md-color: darken($primary-color, 5%);

.md-content {
    color: #353535
}
.md-content p {
    font-size: 1.2rem !important;
}
.md-content h1 {
    font-size: 2.5rem !important;
    color: $md-color;
}
.md-content h2 {
    font-size: 2.1rem !important;
    color: $md-color;
}
.md-content h3 {
    font-size: 1.7rem !important;
    color: $md-color;
}

.md-content hr {
    margin-top: 2rem;
    margin-bottom: 4rem;
    border-color: $md-color;
    border-width: 1px; 
    border-style: solid;
    width: 60%;
}

.md-content th {
  font-size: 1.3rem !important;
  font-weight: 400;
  color: $md-color;
}